body {
    font-family: 'Roboto', "Times New Roman", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .hero_section, .footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 20px 150px 150px 150px;
}

.header_links {
    display: flex;
    gap: 20px;
}

.header {
    
    justify-content: space-between;
}

.hero_section {
    gap: 30px;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero_sub_text, .link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_image {
    flex: 1;
}

.info_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 30px 100px 100px 100px;
}

.info_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    flex-wrap: wrap;
}

.info_image {
    width: 150px;
    height: 150px;
    
    border-radius: 5px;
}

.info_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info_subtext {
    text-align: center;
    inline-size: 120px;
    overflow-wrap: normal;
}



.btn, .ad_section {
    background-color: #3882f6;
    color: #e5e7eb;
}

.btn {
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    width: 100px;
    border-style: solid;
}

.ad_section {
    display: flex;
    flex-direction: row;
    margin: 60px 140px;
    padding: 30px 100px;
    border-radius: 8px;
    justify-content: space-between;

}

.ad_text {
    display: flex;
    flex-direction: column;
}



.ad_title {
    font-size: 18px;
    font-weight: bold;
}

.info_title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote_section {
    display: flex;
    background-color: #e5e7eb;
    padding-bottom: 100px;
    flex-direction: column;
    padding: 100px 150px;
}

.quote_content {
    font-size: 36px;
    font-style: italic;
    color: #1f2937; 
    
}


.quote_author {
    font-weight: bold;
    font-style: italic;
    align-self: flex-end;
}






